In [740]:
%autosave 0

Autosave disabled

In [741]:
import pandas as pd
import numpy as np
import datetime
from sklearn.linear_model import LogisticRegression
import re

regex = r"([0-9]{4}-[0-9]{2})-([0-9]{2})"

In [742]:
train = pd.read_csv('train.csv', sep='|')
items = pd.read_csv('items.csv', sep='|')

items = items.fillna("None")
train = train.fillna("None")

In [743]:
month = []
for i in train["date"]:
    month.append(re.search(regex, i).group(1))

In [744]:
train.insert(1,"month",month)

In [745]:
def groupData(data, field):
    agg = data.groupby(field)
    splited = []
    for group in agg:
        splited.append(pd.DataFrame(data = group[1], columns=data.columns.values))
    return splited

In [746]:
#remove parenteses e escolhe a melhor representação de tamanho
new_sizes = []
sizes_letters = ['XS','S','M','L','XL']
for i in range(len(sizes)):
    if("(" in str(sizes[i])):
        aux = sizes[i].split("(")
        if(aux[0].strip() in sizes_letters): #verificar se isso realmente é o melhor a ser feito
            new_sizes.append(aux[1].split(")")[0].strip())
    else:
        new_sizes.append(sizes[i])

In [747]:
#remove frações e depois soma.
from fractions import Fraction
frac_sizes = []
for i in range(len(new_sizes)):
    if(" " in str(new_sizes[i])):
        aux = new_sizes[i].split(" ")
        if(aux[0].strip().isnumeric() and '/' in aux[1]):
            frac_sizes.append(str(round(float(aux[0]) + float(Fraction(aux[1])),2)))
        else: 
            frac_sizes.append(new_sizes[i])
    else:
        frac_sizes.append(new_sizes[i])

In [748]:
#remove "-", e coloca no lugar a media dos dois valores.
hf_sizes = []
for i in range(len(frac_sizes)):
    if("-" in str(frac_sizes[i])):
        aux = frac_sizes[i].split("-")
        if(aux[0].strip().isnumeric() and aux[1].strip().isnumeric()):
            hf_sizes.append(str(round(np.mean([float(aux[0].strip()), float(aux[1].strip())]),2)))
        else: 
            hf_sizes.append(frac_sizes[i])
    else:
        hf_sizes.append(frac_sizes[i])

In [749]:
#hf_sizes # tem coisa separada por virgula e outras por ponto.
         # tem fração ainda ex: 164/176.
         # tamanhos com string, como Junior,Senior

In [750]:
f_sizes = []
for i in range(len(hf_sizes)):
    if("/" in str(hf_sizes[i])):
        aux = hf_sizes[i].split("/")
        if(aux[0].strip().isnumeric() and aux[1].strip().isnumeric()):
            f_sizes.append(str(round(np.mean([float(aux[0].strip()), float(aux[1].strip())]),2)))
        else:
            f_sizes.append(hf_sizes[i])
    else:
        f_sizes.append(hf_sizes[i])

In [751]:
for size in f_sizes:
    if("/" in size):
        print(size)

2XL/T
M/L
XS/S
M/L
3XL/T
XL/T
L/K
L/T
L/T
XL/T

In [752]:
def insert_column (data,fields,fields_name):
    index = len(data.columns)-1
    for i in range(len(fields_name)):
        data.insert(index + i,fields_name[i],fields[fields_name[i]],True)
    return data

In [753]:
items

,pid,size,color,brand,rrp,mainCategory,category,subCategory,stock,releaseDate
0,10000,XL ( 158-170 ),gruen,Nike,25.33,1,7,25,1,2017-10-01
1,10001,L,schwarz,Jako,38.03,1,7,16,1,2017-10-01
2,10003,3 (35-38 ),weiss,Jako,12.63,1,7,13,1,2017-10-01
3,10003,4 ( 39-42 ),weiss,Jako,12.63,1,7,13,1,2017-10-01
4,10003,5 ( 43-46 ),weiss,Jako,12.63,1,7,13,1,2017-10-01
...,...,...,...,...,...,...,...,...,...,...
12819,22878,2XL,schwarz,adidas,76.13,1,7,14,1,2017-10-23
12820,22878,L,schwarz,adidas,76.13,1,7,14,2,2017-10-23
12821,22878,M,schwarz,adidas,76.13,1,7,14,1,2017-10-23
12822,22878,XL,schwarz,adidas,76.13,1,7,14,1,2017-10-23
12823,22881,S,grau,adidas,139.63,1,7,31,1,2017-10-01

In [754]:
train

              date    month    pid         size  units
0       2017-10-01  2017-10  14393  2 ( 37-39 )      1
1       2017-10-01  2017-10  10069           36      2
2       2017-10-01  2017-10  10069           35      1
3       2017-10-01  2017-10  16221            L      1
4       2017-10-01  2017-10  11317            L      1
...            ...      ...    ...          ...    ...
135112  2018-01-31  2018-01  20353            M      1
135113  2018-01-31  2018-01  12846           40      1
135114  2018-01-31  2018-01  16473           XL      1
135115  2018-01-31  2018-01  13593           45      1
135116  2018-01-31  2018-01  16630           XL      1

[135117 rows x 5 columns]

In [755]:
x = train.groupby(['pid','size','month']).tail(1).sort_values(by=['pid']).drop(['units'], axis=1)

In [756]:
grouped = train.groupby(['pid','size','month']).sum()

In [757]:
grouped

                              units
pid   size           month
10000 XL ( 158-170 ) 2017-11      1
10001 L              2017-11      1
                     2017-12      1
                     2018-01      2
10003 3 (35-38 )     2017-10      1
...                             ...
22878 XL             2017-12      2
22881 S              2017-10      3
                     2017-11      2
                     2017-12      4
                     2018-01      5

[31935 rows x 1 columns]

In [758]:
grouped.index = x.index

In [759]:
#x['units'] = grouped['units']

In [760]:
x = x.sort_values(by=['pid','month'])

In [761]:
data = pd.merge(items.drop(['stock'], axis=1), x, on=['pid','size'])

In [762]:
data

,pid,size,color,brand,rrp,mainCategory,category,subCategory,releaseDate,date,month
0,10000,XL ( 158-170 ),gruen,Nike,25.33,1,7,25,2017-10-01,2017-11-20,2017-11
1,10001,L,schwarz,Jako,38.03,1,7,16,2017-10-01,2017-11-25,2017-11
2,10001,L,schwarz,Jako,38.03,1,7,16,2017-10-01,2017-12-02,2017-12
3,10001,L,schwarz,Jako,38.03,1,7,16,2017-10-01,2018-01-23,2018-01
4,10003,3 (35-38 ),weiss,Jako,12.63,1,7,13,2017-10-01,2017-10-22,2017-10
...,...,...,...,...,...,...,...,...,...,...,...
31930,22878,XL,schwarz,adidas,76.13,1,7,14,2017-10-23,2017-12-28,2017-12
31931,22881,S,grau,adidas,139.63,1,7,31,2017-10-01,2017-10-13,2017-10
31932,22881,S,grau,adidas,139.63,1,7,31,2017-10-01,2017-11-13,2017-11
31933,22881,S,grau,adidas,139.63,1,7,31,2017-10-01,2017-12-31,2017-12
31934,22881,S,grau,adidas,139.63,1,7,31,2017-10-01,2018-01-31,2018-01

In [763]:
data['units'] = grouped['units'].values

In [764]:
from datetime import datetime
data['target'] = data['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').day)

In [765]:
data = data.drop(['date'], axis=1)

In [766]:
categories = pd.get_dummies(data['category'])
mainCategories = pd.get_dummies(data['mainCategory'])
subCategories = pd.get_dummies(data['subCategory'])
color = pd.get_dummies(data['color'])
brand = pd.get_dummies(data['brand'])

In [767]:
categories.columns = ['cat-2', 'cat-7', 'cat-10', 'cat-16', 'cat-18', 'cat-24', 'cat-30', 'cat-33', 'cat-36', 'cat-37']

mainCategories.columns = ['mcat-1', 'mcat-9', 'mcat-15']

subCategories.columns = [ 'subcat-3.0',    'subcat-4.0',    'subcat-5.0',    'subcat-6.0',    'subcat-8.0',   'subcat-11.0',   'subcat-12.0',   'subcat-13.0',   'subcat-14.0',
         'subcat-16.0',   'subcat-17.0',   'subcat-19.0',   'subcat-20.0',   'subcat-21.0',   'subcat-22.0',   'subcat-23.0',   'subcat-25.0',   'subcat-26.0',
         'subcat-27.0',   'subcat-28.0',   'subcat-29.0',   'subcat-31.0',   'subcat-32.0',   'subcat-34.0',   'subcat-35.0',   'subcat-38.0',   'subcat-39.0',
         'subcat-40.0',   'subcat-41.0',   'subcat-42.0',   'subcat-43.0',   'subcat-44.0', 'subcat-None']

In [768]:
# data = insert_column(data,categories, categories.columns)
# data = insert_column(data,mainCategories, mainCategories.columns)
# data = insert_column(data,subCategories, subCategories.columns)
# data = insert_column(data, color, color.columns)
# data = insert_column(data, brand, brand.columns)

In [769]:
data = data.drop(['category'], axis=1)
data = data.drop(['mainCategory'], axis=1)
data = data.drop(['subCategory'], axis=1)
data = data.drop(['color'], axis=1)
data = data.drop(['pid'], axis=1)
data = data.drop(['brand'], axis=1)
data = data.drop(['size'], axis=1)
data = data.drop(['releaseDate'], axis=1)

In [770]:
data_test = data[data['month'] == '2018-01']
data_test = data_test.drop(['month'], axis=1)
y_test = data_test.iloc[:,-1]
x_test = data_test.iloc[:,0:-1]

data_train = data[data['month'] != '2018-01']
data_train = data_train.drop(['month'], axis=1)
y_train = data_train.iloc[:,-1]
x_train = data_train.iloc[:,0:-1]

In [771]:
x_test

          rrp  units
3       38.03      2
9       12.63      1
12      25.33      4
13      69.78      1
15      69.78      3
...       ...    ...
31921   50.73      7
31922   88.83      1
31925   76.13      1
31929   76.13      2
31934  139.63      5

[9223 rows x 2 columns]

In [772]:
from sklearn.ensemble import RandomForestRegressor

regr = RandomForestRegressor(max_depth=2, random_state=0)
regr.fit(x_train, y_train)
regr.score(x_test, y_test)

/home/victor/.local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.17414114040970463

In [773]:
#data.to_csv("newTrain.csv")